body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: gray;
}

#container{
    border: 5px solid rgb(255, 82, 82);
    display: flex;
    flex-wrap:wrap;
    position: absolute;
    width: 720px;
    height: 720px;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.blank{
    background-color: rgb(255, 255, 255);
}
